.split {
  display: flex;
  margin: 6rem auto;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.CeramicsSections img {
  max-width: 30%;
}

.CeramicsSections .img-description {
  max-width: 30%;
}
